.cartItem {
    background-color: #2b368c;
    color: #fecce3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    height: 100%;
}

.cartItem button {
    background-color: #fecce3;
    color: #2b368c;
    padding: 3px;
    border-style: none;
    border-radius: 3px;
    transition: 0.3s;
}

.cartItem button:hover {
    height: 30px;
    width: 60px;
}