.contador {
    color: #fecce3;
    background-color: #2B378D;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
}

.contador button {
    margin: 8px;
    color: #2B378D;
    background-color: #fecce3;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    height: 40px;
}

.add {
    font-size: 25px;
    transition: 0.3s;
    opacity: 0.9;
}

.add:hover {
    opacity: 2
}

.mas,
.menos {
    width: 35px;
    font-size: 25px;
}