header {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px;
  background-color: #fecce3;
  color: hsl(233, 53%, 36%);
}

.brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 22px;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  padding: 10px;
}