/* rosa #fecce3;
violeta #2b368c; */

header {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2b368c;
  color: #fecce3;
  flex-direction: row;
  align-items: center;
}

.logoEstera {
  width: 30vh;
  height: 10vh;
}

.bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


li {
  list-style-type: none;
  text-decoration: none;
}

.cat {
  text-decoration: none;
  color: #fecce3;
  padding: 10px;
}