footer {
    background-color: #fecce3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: 5px;
    font-size: 8px;
}

.ig {
    width: 25px;
    height: 25px;
    border-style: none;
}