.productCard {
    padding: 5px;
    color: #2B378D;
    background-color: #fecce3;
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 33rem;
    width: 30rem;
    border-radius: 5px;
}

.pic {
    height: 18rem;
    border-radius: 2%;
    border: 3px #2B378D solid;
    margin-bottom: 5px;
}

.itemButton {
    color: #fecce3;
    background-color: #2B378D;
    border: #fecce3;
    font-size: 18px;
    padding: 8px;
    border-radius: 5%;
    margin: 5px;
    text-decoration: none;
}

.itemTitle {
    align-self: center;
    font-size: 28px;
    font-weight: 550;
    margin: 3px;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.itemSize {
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.itemPrice {
    font-size: 19px;
    padding: 3px;
}