.productCard {
    padding: 5px;
    color: #2B378D;
    background-color: #fecce3;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    width: 40vh;
}

img {
    height: 25vh;
    border-radius: 2%;
    border-color: #2B378D;
    border-style: solid;
    margin-bottom: 5px;
}

.itemButton {
    color: #fecce3;
    background-color: #2B378D;
    border: #fecce3;
    font-size: 17px;
    padding: 4px;
    border-radius: 5%;
    margin: 5px;
    text-decoration: none;
}

.itemTitle {
    align-self: center;
    font-size: 19px;
    margin: 3px;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.itemSize {
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.itemPrice {
    font-size: 13px;
    padding: 3px;
}