    /* violeta #2B378D;
    rosa #fecce3; */

    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fecce3;
        color: #2B378D;
        padding: 5px;
    }

    .detailImg {
        margin: 5px;
        height: 40vh;
        border-color: #2B378D;
        border-style: solid;
        border-width: 3px;
    }

    .detailTitle {
        color: #2B378D;
        font-weight: 600;
    }

    .detailSize {
        color: #2B378D;
    }

    .pDetail {
        padding: 0 80px;
        font-size: 11px;
        line-height: 16px;
        text-align: justify;
        color: black;
    }

    .endPurchase {
        color: #2B378D;
        font-weight: bold;
        text-decoration: none;
    }

    .endPurchase:hover {
        font-size: 18px;
    }